*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont_base{
    width: 500px;
    margin: 10px auto;
    padding: 20px 10px;
    background: grey;
   
}

.miId{
    background: hotpink;
}


.content{
    width: 500px;
    height: 300px;
    background: greenyellow;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .padre{
        width: 400px;
        height: 200px;
        background: firebrick;
        display: flex;
        justify-content: center;
        align-items: center;
        .hijo{
            width: 200px;
            height: 100px;
            background: forestgreen;
        }
    }
}


